<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758061891924-hh9d012e30junuo42vu1om06snt25nan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758061891924-hh9d012e30junuo42vu1om06snt25nan</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>758061891924-3e2sr2do6fulr8l9or42hmr08hjdf2on.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWEdrQ932WG7-npqrFMSFNJIEweROQJ2c</string>
	<key>GCM_SENDER_ID</key>
	<string>758061891924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.sossei.app4geracao</string>
	<key>PROJECT_ID</key>
	<string>barber-4</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758061891924:ios:feecfcb9f331635974c8c1</string>
	<key>DATABASE_URL</key>
	<string>https://barber-4.firebaseio.com</string>
</dict>
</plist>